:root {
    --pastel-pink: #f6c3b9;
    --lavender: #c699f8;
    --peach-pink: #f6dedb;
    --sky-blue: #b2c5f4;
    --darker-purple: #aa86d3;
    --indigo-blue: #92a4f7;
    --dark-grey: #4d4d4d;
}

.title {
    font-family: "Sacramento";
    text-decoration: underline #92a5f765 2px;
    color: var(--dark-grey);
}

.sub-title {
    font-family: "Sacramento";
    font-size: 3.5rem;
    text-decoration: underline #92a5f765 2px;
    color: var(--dark-grey);
}

.about-title {
    font-family: "Give You Glory";
    text-decoration: underline #aa86d3a9 2px;
    color: var(--dark-grey);
}

.about-content {
    font-family: "Give You Glory";
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--dark-grey);
}