.footer {
    clear: both;
    position: sticky, -webkit-sticky;
    height: 100px;
    margin-top: 10px;
    background:#6cf;
}

.footer-name {
    font-family: "Permanent Marker";
    font-size: 12px;
    font-weight: bold;
    
};